<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_XdextNThSM4ymnT30ewIVHpfegxh_KE</string>
	<key>GCM_SENDER_ID</key>
	<string>640899746109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sehatyaab</string>
	<key>PROJECT_ID</key>
	<string>sehatyaab-ec484</string>
	<key>STORAGE_BUCKET</key>
	<string>sehatyaab-ec484.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640899746109:ios:c03eaf64fea60f4e551d54</string>
</dict>
</plist>